<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSWYMa1sepwZ1UEUknv5o1e9Zta_z4iae8yjjuSmjaY3WMcAAL7" alt="Logo" />
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  